body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.box {
    width: 300px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
}

#taskInput {
    width: 95%;
    padding: 8px;
    font-size: 14px;
}

#taskList {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 6px;
    margin-top: 5px;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

.deleteBtn {
    background: none;
    color: red;
    cursor: pointer;
    font-weight: bold;
    border: none;
    font-size: 20px;
}

